---
// Card.astro
export interface CardProps {
  sectionTitle: number;
  links: {
    title: string;
    url: string;
  }[];
}

const { sectionTitle, links } = Astro.props;
---

<section class="card flex flex-col gap-2 w-full rounded bg-neutral">
  <h2 class="text-2xl bg-primary text-black p-2">
    {sectionTitle}
  </h2>
  <ul class="flex flex-col gap-2 p-2">
    {
      links.map((link: any) => (
        <li class="text-lg text-primary w-full">
          <div
            class="tooltip tooltip-open tooltip-right"
            data-tip={link.description}
          >
            <a class="w-full" href={link.url} target="_blank">
              {link.title}
            </a>
          </div>
        </li>
      ))
    }
  </ul>
</section>
