---
import Header from "./Header.astro";
import Tool from "./Tool.astro";
import data from "../assets/data.json";
---

<Header />
<div class="p-2 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4 w-full">
  {data.map((item) => <Tool {...item} />)}
</div>
